.GP {
  grid-area: GP;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content auto;
  grid-gap: 2vh 0;
  padding: 0 1vw 0 1vw;
  grid-template-areas:
    'Title Title'
    'Drivers Players';
}

.Title {
  grid-area: Title;
}
.Drivers {
  grid-area: Drivers;
}
.Players {
  grid-area: Players;
}
