.GP {
  @include section;
  grid-area: GP;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content auto;
  grid-template-areas:
    'Title Title'
    'Drivers Players';
}

.Title-GP {
  grid-area: Title;
}
.Drivers {
  grid-area: Drivers;
}
.Players {
  grid-area: Players;
}
