.Main {
  grid-area: Main;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: max-content 1fr;
  grid-template-areas:
    'Title Title Title Title'
    'Results Results News News';
}

.Title {
  grid-area: Title;
}
.Results {
  grid-area: Results;
}
.News {
  grid-area: News;
}
