.Podium {
  grid-area: Podium;
  display: grid;
  grid-template-rows: 3fr 1fr;
  grid-gap: 2rem 0;
  grid-template-areas:
    'Top3'
    'Cta';
}

.Top3 {
  grid-area: Top3;
  position: relative;
}

.Cta {
  grid-area: Cta;
}

.homedriverImage {
  height: 200px;
  width: auto;
  position: absolute;
  bottom: 0;
}

.topscorerboxwrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  width: 80%;
  margin: auto;
  height: 100%;
}

.mainPoints {
  font-family: 'Gilroy-Bold', sans-serif;
  font-size: 34px;
  color: white;
  line-height: 1;
}

.topscorerbox {
  width: 100px;
  height: 60px;
  background-color: #393a49;
  border-radius: 6px;
  position: relative;
  top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  z-index: 7;
}

#biggestFigure {
  z-index: 6;
  width: 120px;
  height: 80px;
}
