.Shop {
  @include section;
  grid-area: Shop;
  display: grid;
  gap: 2vh 0;
  grid-template-rows: min-content auto;
  grid-template-areas:
    'Title-Shop'
    'Items-Shop';
}

.Title-Shop {
  grid-area: Title-Shop;
}
.Items-Shop {
  grid-area: Items-Shop;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
