@import 'main';
@import 'side';
@import 'gp';

.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto;
  grid-gap: 2vh 1vw;
  grid-template-areas:
    'Main Side'
    'Shop Side';
}

.Shop {
  grid-area: Shop;
}
