// COLORS
$color-primary: #2b5291;
$color-primary-light: #5284d4;
$color-primary-dark: rgb(17, 84, 192);

$color-secondary: #55c57a;
$color-secondary-light: #7ed56f;
$color-secondary-dark: #28b485;

$color-tertiary-light: #ffb900;
$color-tertiary-dark: #ff7730;
$color-tertiary-darker: #fc5f2f;

$color-f1: #e10600;

$color-tertiary-brown: #9a7645;

$color-grey-light-1: #f5f4f4;
$color-grey-light-2: #eee;
$color-grey-dark: #595959;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

//FONT
$default-font-size: 1.6rem;

//BORER RADIUS

$border-radius-small: 3px;

// GRID
// $grid-width: 114rem;
// $gutter-vertical: 8rem;
// $gutter-vertical-small: 6rem;
// $gutter-horizontal: 6rem;

//SHADOWS
$box-shadow-small: 0 1.5rem 4rem rgba($color-black, 0.3);
// $box-shadow-medium:
// $box-shadow-big:
