.Menu {
  height: fit-content;
  padding: 1rem 0;
  position: relative;
  z-index: 0;
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  color: #fff;
}

//Main Nav
.nav {
  max-width: 90vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);

  &__logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    // justify-content:space-between

    &--img {
      height: 5rem;
      width: 5rem;
      margin-right: 1rem;
      border: 2px solid $color-primary-dark;
      border-radius: 50%;
      //   border: double 2px transparent;
      //   background-image: linear-gradient(transparent, transparent),
      //     linear-gradient(
      //       120deg,
      //       $color-primary-dark,
      //       $color-primary,
      //       $color-tertiary-dark,
      //       $color-f1
      //     );
      //   background-origin: border-box;
      //   background-clip: content-box, border-box;
    }
  }

  &__list {
    display: flex;
    list-style: none;
    text-align: center;
  }

  &__item {
    margin: 1rem;
  }

  &__link {
    &:link,
    &:visited {
      font-size: 1.5rem;
      display: inline-block;
      font-weight: 300;
      padding: 1rem 2rem;
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;
      background-position: 0%;
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        $color-white 50%
      );
      background-size: 230%;
      transition: all 0.4s;
    }

    &:hover,
    &:active {
      cursor: pointer;
      background-position: 100%;
      color: $color-primary;
      transform: translateX(1rem);
    }
  }
}
