.home {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    'Main Main Main Chat'
    'Main Main Main Chat'
    'Main Main Main Chat'
    'Media Media Media Chat';
}

.Main {
  grid-area: Main;
}

.Chat {
  grid-area: Chat;
}

.Media {
  grid-area: Media;
}
